.Quote {
    border: 1px solid #999999;
    margin: 20px;
    padding: 20px;
}

.Quote .createDate {
    color: #555555;
}

.Quote .author {
    color: #777777;
    font-size: 20px;
    text-align: right;
}

.Quote .actionButton {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #999999;
    background: #eeeeee;
    border-radius: 5px;
    color: #555555;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}