.QuoteForm {
    width: 100%;
}

.QuoteForm input, .QuoteForm textarea, .QuoteForm select {
    display: block;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px 0 15px 0;
}